// Patron de colores
$secondary: #a3a4a4;
$gradient: linear-gradient(180deg, rgba(#67c3f3, 100), rgba(#5a98f2, 100));
// Modificando variables de Bootstrap
$font-family-sans-serif: "Mulish", sans-serif;
$font-size-base: 1rem;
$box-shadow: 0 0.6375rem 3rem 0 #f4f8fe, 0 3px 20px 0 #f4f8fe;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
$nav-link-padding-x: 0.5rem;

$btn-padding-y: 0.7rem;

@import "../../public/node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Mulish:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

.btn-primary {
  color: #fff;
  background-color: #458ff6;
  border-color: #458ff6;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3b7ad1;
  border-color: #3772c5;
}
.btn-outline-primary {
  color: #458ff6;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.1rem;
}
.nav-link {
  color: rgba(39, 45, 78, 0.65);
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.95);
}
.nav-link.active {
  color: #1f1534;
}
.p-header {
  font-size: 1.2rem;
  color: #7d7987;
}
.p-card {
  padding: 4rem 2.5rem 4rem 2.5rem;
}
.p-card__paragraph {
  color: #7d7987;
}

.hover-top:hover {
  transform: translateY(-0.125rem) translateZ(0);
  box-shadow: 0.5rem 0.5rem 1.5rem rgb(22 28 45 / 10%);
  transition: all 0.5s ease;
}
.bg-header {
  background-image: url(../images/dot.png);
  background-position: left;
  background-size: auto;
  margin-top: -62px;
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
.border-dark {
  width: 60px;
}
.bg-cards {
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-position-x: -100px;
}
.bg-poinst {
  background-image: url(../images/element.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 71rem;
  background-position-y: 20rem;
}
.bg-poinst-right {
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 78rem;
}
.btn-slide {
  background: #3772c5;
  border: 0;
  height: 10px;
  width: 1px;
}
.bg-articles {
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 15rem;
}
.bg-articles-points {
  background-image: url(../images/element.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 15rem;
  background-position-x: 4rem;
}
.bg-footer-points {
  background-image: url(../images/element.png);
  background-repeat: no-repeat;
  background-position-x: 72rem;
}
.bg-footer-left {
  background-image: url(../images/points.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 17rem;
}
.bg-slide-points {
  background-image: url(../images/points.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 0.5rem;
  background-position-x: 54.5rem;
}
.bg-slide-left-points {
  background-image: url(../images/element.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 9rem;
  background-position-y: 16rem;
}
.carousel-indicators [data-bs-target] {
  width: 9px;
  height: 9px;
  cursor: pointer;
  background-color: #458ff6;
  border: 0;
  transition: opacity 0.6s ease;
}
.carousel-indicators button {
  border-radius: 50%;
}
.carousel-indicators {
  bottom: -75px;
}
.border-top-edit {
  border-top: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: "768px") {
  .border-top-edit {
    border-top: 1px solid #e1e0e4;
  }
}
